.content {
    margin: 3vw;
}

.content h1 {
    text-align: center;
}

.content h2 {
    margin-bottom: 0;
}

header {
    background-color: #932023;
    display: flex;
}

header .option {
    flex: 0;
    color: white;
    padding: 2vw;
    font-weight: bold;
    text-decoration: none;
}

header .blank {
    flex: 1
}