.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: hidden;
	height: 310px;
}

.item {
    position: relative;
    width: 200px;
    height: 300px;
    background: grey;
    margin: 5px;
    flex: 0 0 200px;
    background-size: cover;
    cursor: pointer;
}

.item p {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 5px;
    background-color: black;
    color: white;
}

.scroller {
    display: flex;
    width: 100%;
}

.slider {
    width: 100%;
}

.scroller .moving {
    color:white;
    align-items: center;
    background-color: #932023;
    margin: 5px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.scroller .moving p{
    text-align:center;
    border: 2px white solid;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}